section {
  margin: 20px 0 20px 0;
}

.info-text {
  font-size: 1.1em;
}

.full-width {
  width: 100%;
}

.logo{
  width: 200px;
  margin: 40px 0;
}

body{
  background-image: url(images/background.jpg);
  background-size:cover;
}

.metamask-logo{
  width: 28px;
  margin-top:-4px;
}

form .amount input{
  border-right: none;
}

form .amount .input-group-text{
  background:inherit;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

form .amount .input-group-text.is-invalid{
  border-color: #dc3545;
}

form .amount .input-group-text.is-valid{
  border-color: #28a745;
}

form .fa-address-book {
  margin-right: 5px;
}